footer(role='contentinfo')
  nav(role='navigation')
    ul
      li: a(href='http://liftsecurity.io/training', title='Training') Training
      li: a(href='http://liftsecurity.io/advisories', title='Advisories') Advisories
      li: a(href='http://liftsecurity.io/team', title='Team') Team
      li: a(href='http://blog.liftsecurity.io', title='Blog') Blog
      li: a(href='mailto:contact@liftsecurity.io', title='Contact') Contact