header
  .container
    .row-fluid
      .span8(role='title')
        a(href='/')
          img.title-image(src='/img/nodesecurity.png')
        h1.title=locals.blogTitle
        span.subtitle=locals.blogSubtitle
      .span4.social.pull-right
          a(href='https://twitter.com/nodesecurity'): img(src='/img/webicon-twitter.png')
          a(href='https://github.com/nodesecurity'): img(src='/img/webicon-github.png')         