header.container.row
  .span8(role="title")
    a(href='/'): img.title-image(src="/img/nodesecurity.png")
    h1.title Node Security Project Blog
    span.subtitle We need a tagline contributor™

  .span2.social.pull-right
      a(href='https://twitter.com/nodesecurity'): img(src='/img/webicon-twitter.png')
      a(href='https://github.com/nodesecurity'): img(src='/img/webicon-github.png')       