.menu.navbar.container
  .container
    .nav-collapse.collapse(role="navigation")
      ul.nav
        li: a(href='nodesecurity.io/advisories') View Advisories
        li: a(href='mailto:contact@liftsecurity.io?subject=NodeSecurity Vuln Report') Report Vulnerability
        li: a(href='nodesecurity.io/resources') Resources
        li
