.menu.navbar.container
  .container
    .nav-collapse.collapse(role="navigation")
      ul.nav
        li: a(href='http://nodesecurity.io/advisories') View Advisories
        li: a(href='mailto:report@nodesecurity.io?subject=NodeSecurity Vuln Report') Report Vulnerability
        li: a(href='http://nodesecurity.io/resources') Resources
        li
