/*--------------------------------------------------------------------
*
* ARCHIVES
*
--------------------------------------------------------------------*/

.post_archives
  margin: 0
  font-family: $font-sans

  li
    list-style-type: none

  ul
    margin: 0 0 15px 0
    text-transform: uppercase
    font-size: $font-small

    a
      color: $blue-light

  li + ul
    padding: 5px 0

@media $mobile-devices

  aside
    border-top: 1px solid $gray-lighter