/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

footer
  padding: 40px 0
  font-family: $font-sans
  font-size: $font-small
  text-align: center
  color: $gray-light
