/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header

  .logo
    display: block
    background: url('/images/logo.svg') 0 0 no-repeat
    background-size: contain
    text-indent: -9999rem

    &:hover
      opacity: .5
      transition: opacity .5s ease

  nav
    a
      font-weight: 400
      font-family: $font-sans