/*--------------------------------------------------------------------
*
* BLOG POSTS
*
--------------------------------------------------------------------*/

.page-blog
  
  img, video, iframe
    margin: 0 auto

  .post
    padding-bottom: 50px
    margin-bottom: @padding-bottom

    &:not(:last-of-type)
      border-bottom: 1px solid $gray-lighter

  .postmeta, .byline
    font: 400 $font-small $font-sans
    color: lighten($gray, 20%)