/*--------------------------------------------------------------------
*
* BLOG POSTS
*
--------------------------------------------------------------------*/

.page-blog
  
  img, video, iframe
    margin: 0 auto

  .post
    padding-bottom: 50px
    margin-bottom: @padding-bottom

    &:not(:last-of-type)
      border-bottom: 1px solid $gray-lighter

    h2
      margin-bottom: 0

    h3:empty
      display: none

  .byline
    margin: 15px 0 30px 0

  .postmeta, .byline
    font: 400 $font-small $font-sans
    color: lighten($gray, 20%)
    padding-left: 25px
    line-height: 1.5
    background-size: contain

  .postmeta
    background: url('/images/icon-tag.svg') no-repeat 0 0

  .byline
    background: url('/images/icon-calendar.svg') no-repeat 3px 0