extends layout

block body
  body(id= bodyId)
    include header
    include nav-archive
    .content-container
      .row.container
        .pageTitle
          h1= pageTitle
      .row.container
        each post in postData
          .row
            .pageContent
              p.well
                a(href= post.url)= post.title
                br
                span.postDate=post.formattedDate
        .row
          .paginationWrap           
            include pagination
    include footer