header
  .container
    .row-fluid
      .span8(role='title')
        a(href='/')
          img.title-image(src='/img/nodesecurity.png')
        h1.title=locals.blogTitle
        span.subtitle=locals.blogSubtitle
      .span4.search.pull-right
        form.form-horizontal(action='/advisories/search', method='GET')
          .control-group
            label.control-label
              i.icon-search
            .controls
              input(type='text', name='s')
        .social.pull-right
          a(href='https://twitter.com/nodesecurity')
            img(src='/img/webicon-twitter.png')