extends layout

block content
  .content-container
    .container
      .row
        .span8
          each post in postData
            .row
              include includes/post_detail
            hr
            br  
        .span4      
          include includes/tag_list
          include includes/nav_archive
          


      .row.container  
        include includes/pagination
