doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='security, secure apps, node.js, audits, advisories, security training')
    meta(name='author', content='Adam Baldwin')

    - if (locals.pageTitle)
      title!= locals.pageTitle + ' | ' + locals.blogTitle
    - else
      title= locals.blogTitle     

    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='alternate', type='application/atom+xml', title='^lift security | the blog', href='http://blog.liftsecurity.io/rss')

    link(rel='stylesheet', href='//cloud.typography.com/7773252/779464/css/fonts.css')

    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/main.min.css')

  body

    .wrapper.page-blog

      header.cf(role='banner')
        include includes/navigation

      .cf

        .content(role='main')
          h2= locals.pageTitle || locals.blogTitle
          
          #post_column
            block content

            block pagination
              include includes/pagination

        aside(role='complementary')

          include includes/archive_nav
          include includes/tag_list

      block footer

        include includes/footer

    script(src='/js/google.js')