
html
  head
    title Node Security Blog | We need a tagline contributor™
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    //link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900', rel='stylesheet', type='text/css')
    link(rel='icon', href='/img/nodesecurity.png')
    //do we need these?
    //script(type='text/javascript', src='/js/jquery.min.js')
    //script(type='text/javascript', src='/js/bootstrap.min.js')

  body
    include includes/header
    br
    include includes/navigation

    block content

    include includes/footer
    include includes/analytics
