doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    - if (locals.pageTitle)
      title!= locals.pageTitle + ' | ' + locals.blogTitle
    - else
      title= locals.blogTitle     

    link(rel='icon', type='image/png', href='images/favicon.png')
    link(rel='alternate', type='application/atom+xml', title='^lift security | the blog', href='http://blog.liftsecurity.io/rss')

    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')

  body

    header

      nav(role='navigation')
        h1 ^Lift Security
        ul
          li: a(href='') Training
          li: a(href='') Advisories
          li: a(href='') Team
          li: a(href='') Blog
          li: a(href='') Contact

    .wrapper

      .content(role='main')
        h1
          a(href='/')= locals.pageTitle || locals.blogTitle
        
        #post_column
          block content

          block pagination
            include includes/pagination

      aside(role='complementary')

        include includes/archive_nav
        include includes/tag_list

    script(src='/js/google.js')