/*--------------------------------------------------------------------
*
* BASE
*
--------------------------------------------------------------------*/

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

::-moz-selection
  background-color: $blue
  color: white

::selection
  background-color: $blue
  color: white

html
  font-size: 100%

body
  color: $gray-darker
  font: 400 $font-base/$line-height-base $font-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

ul, p
  margin-bottom: 30px

h1, h2, h3, h4, h5
  font-weight: 800
  font-family: $font-sans

h1, h2, h3
  line-height: $line-height-tight

h1
  font-size: $font-heading-one

h2
  font-size: $font-heading-two

h3
  font-size: $font-heading-three

h4
  font-size: $font-heading-four

h5
  font-size: $font-heading-five

small
  font-size: $font-small

a
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

a:not(.button)
  color: $blue

  &:hover
    color: darken($blue, 30%)
    transition: color .5s ease

hr
  display: block
  border: none
  height: 1px
  width: 50%
  margin: 30px auto
  background: $gray-lighter

blockquote
  white-space: pre
  padding: 20px
  margin: 30px 0 30px 15px
  color: $gray-dark
  font-style: italic
  border-left: 2px solid $gray-lighter
  background: lighten($gray-lighter, 80%)

  p
    margin: 0

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

.pull-left
  float: left

.pull-right
  float: right

img
  border-radius: 3px

img, video, iframe
  max-width: 100%

.wrapper
  margin: 0 auto

@media $mobile-devices
  .wrapper
    width: 90%

@media $desktop
  .wrapper
    width: 75%

  .page-blog
    
    .content, aside
      float: left
    
    .content
      width: 65%
      padding-right: 40px

    aside
      width: 35%
      padding-left: 40px

@media $desktop-wide
  .wrapper
    width: 65%