/*--------------------------------------------------------------------
*
* CODE
*
--------------------------------------------------------------------*/

pre
  padding: 20px
  margin-bottom: 30px
  border-radius: 3px
  font: $font-size/1.5 $font-monospaced
  color: $gray-dark
  background: lighten($gray-lighter, 90%)
  border: 1px solid $gray-lighter