/*-------------------------------------------------------------------
*
* SHARED
*
--------------------------------------------------------------------*/

blockquote,
code
  word-wrap: break-word
  word-break: break-all
  overflow: auto
