h1.pull-left: a.logo(href='http://liftsecurity.io', title='^Lift Security') ^Lift Security
nav.pull-right.cf(role='navigation')

  label(for='menu-toggle') Menu
  input(type='checkbox', id='menu-toggle')

  ul.unstyled
    li: a(href='https://liftsecurity.io/training', title='Training') Training
    li: a(href='https://liftsecurity.io/advisories', title='Advisories') Advisories
    li: a(href='https://liftsecurity.io/team', title='Team') Team
    li: a(href='https://blog.liftsecurity.io', title='Blog') Blog
    li: a(href='https://liftsecurity.io/contact', title='Contact') Contact
